{#

 This file is part of the FOSCommentBundle package.

 (c) FriendsOfSymfony <http://friendsofsymfony.github.com/>

 This source file is subject to the MIT license that is bundled
 with this source code in the file LICENSE.

#}

{% set sorter = fos_comment_sorter(sorter | default(null)) %}
<div id="fos_comment_thread" class="fos_comment_comment_group" data-thread-id="{{ id }}" data-new-position="{{ sorter.newPosition }}" data-base-url="{{ path('fos_comment_get_threads') }}">
    {% render url('fos_comment_get_thread_comments', { id: id, permalink: permalink | default(app.request.uri) }) %}
</div>
